<div
  class="max-w-4xl p-6 bg-white border mx-auto my-3 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <form
    class="w-full"
    [formGroup]="form"
    (ngSubmit)="saveCardCredit()"
  >
    <div [ngClass]="['w-full flex gap-3 justify-center items-center', addClass ]">
      <div class="flex gap-3">
        <div class="w-6/12">
          <label for="holder" [ngClass]="[class.LABEL.CLEAR]">Holder card</label>
          <input
            type="text"
            id="holder"
            name="cardHolder"
            [ngClass]=" cardHolderError ? class.INPUT.ERROR : class.INPUT.CLEAR "
            formControlName="cardHolder"
            placeholder="User name"
          />
          <div [class]="class.HELP_TEXT.ERROR" *ngIf="cardHolderError">
            <p [class]="class.HELP_TEXT.P_ERROR">
              Este campo es <span class="font-bold">requerido </span>
            </p>
          </div>
        </div>

        <div class="w-6/12">
          <label for="card-number" [ngClass]="[class.LABEL.CLEAR]"
            >Card Number</label
          >
          <input
            type="text"
            id="card-number"
            maxlength="16"
            [ngClass]=" cardNumberError ? class.INPUT.ERROR : class.INPUT.CLEAR "
            formControlName="cardNumber"
            name="cardNumber"
            placeholder="1111222233334444"
          />
          <div *ngIf="cardNumberError" [class]="class.HELP_TEXT.ERROR" >
            <p *ngIf="cardNumber?.errors?.['required']" [class]="class.HELP_TEXT.P_ERROR">
              Este campo es <span class="font-bold">requerido</span>
            </p>
            <p *ngIf="cardNumber?.errors?.['pattern']" [class]="class.HELP_TEXT.P_ERROR">
              Este campo es <span class="font-bold">númerico</span>
            </p>
          </div>
        </div>
      </div>

      <div class="flex items-end gap-3">
        <div class="w-8/12/12 flex gap-4">
          <div class="w-6/12">
            <label for="exp" [ngClass]="[class.LABEL.CLEAR]">Expiration</label>
            <input
              type="text"
              id="exp"
              [ngClass]=" expireError ? class.INPUT.ERROR : class.INPUT.CLEAR "
              formControlName="expire"
              name="expire"
              placeholder="12/35"
            />
            <div *ngIf="expireError" [class]="class.HELP_TEXT.ERROR" >
              <p *ngIf="expire?.errors?.['required']" [class]="class.HELP_TEXT.P_ERROR">
                <span class="font-bold">Requerido</span>
              </p>
              <p *ngIf="expire?.errors?.['pattern']" [class]="class.HELP_TEXT.P_ERROR">
                <span class="font-bold">( mm/yy )</span>
              </p>
            </div>
          </div>

          <div class="w-6/12">
            <label for="cvv" [ngClass]="[class.LABEL.CLEAR]">CVV</label>
            <input
              type="text"
              id="cvv"
              maxlength="3"
              [ngClass]=" cvvError ? class.INPUT.ERROR : class.INPUT.CLEAR "
              formControlName="cvv"
              placeholder="123"
            />
            <div *ngIf="cvvError" [class]="class.HELP_TEXT.ERROR" >
              <p *ngIf="cvv?.errors?.['required']" [class]="class.HELP_TEXT.P_ERROR">
                <span class="font-bold">Requerido</span>
              </p>
              <p *ngIf="cvv?.errors?.['pattern']" [class]="class.HELP_TEXT.P_ERROR">
                <span class="font-bold">Númerico</span>
              </p>
            </div>
          </div>
        </div>

        <div class="w-4/12 h-auto">

          <app-button
            style="width: 100%;"
            type="submit"
            [isDisable]="form.invalid"
            [styleButton]=" editCard ? 'greenColoredShadows' : 'greenColoredShadows' "
            >{{ editCard ? 'Edit Card' : 'Add Card' }}</app-button
          >
        </div>
      </div>

    </div>
  </form>
</div>
